<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/images/favicon.ico">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header id="header">
            <a id="header-text" href="/"><h1>{{ site.name }}</h1></a>
            <div id="header-menu-wrapper">
                <span id="menu-icon"><!--&#9776;--></span>
                <ul id="header-menu">
                    <li {% if page.page_id == "about" %}class="current"{% endif %}><a href="/">About</a></li>
                    <li {% if page.page_id == "blog" %}class="current"{% endif %}><a href="/blog">Blog</a></li>
                    <li {% if page.page_id == "projects" %}class="current"{% endif %}><a href="/projects">Projects</a></li>
                    <li><a href="http://www.github.com/chienhungchen" target="_blank">Code</a></li>
                </ul>
            </div>
        </header>
        <section class="content-wrapper">
            {{ content }}
        </section>
        <footer id="footer">
            <span id="copyright">Chien-Hung Chen &copy; 2013</span>
            <a href="http://twitter.com/jeffchen330"><i class="sprite sprite-twitter"></i></a>
            <a href="http://linkedin.com/in/chienhungchen"><i class="sprite sprite-linkedin"></i></a>
            <a href="http://github.com/chienhungchen"><i class="sprite sprite-github"></i></a>
        </footer>


        <!-- Le Scripts -->
        <script src="/scripts/jquery.js"></script>
        <script src="/scripts/jquery.mobile.virtualbindings.js"></script>
        <script src="/scripts/fotorama.js"></script>
        <script>
            $(function(){
                'use strict';
                $('#menu-icon').on('vclick', function(){
                    $('#header-menu').toggleClass('open');
                });
            });

            //Google Analytics
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-45686926-1', 'chienhungchen.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
